<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDxDeveloper.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SDxDeveloper.Client.Properties.Settings>
            <setting name="DefaultFileExplorePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportPreserveWhitespace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SiteTargetPath1" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteTargetPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuthToken" serializeAs="String">
                <value />
            </setting>
        </SDxDeveloper.Client.Properties.Settings>
    </userSettings>
</configuration>